img{
    max-width: 100%;
    height: auto;
    background-color: lightblue;
    background: radial-gradient(lightblue 100%);
}

.fa-star, .fa-star-half{
    color:yellowgreen;
    padding: 3% 0;
}

h2.headertekst {
    text-align: center;
}


login{
    padding: 50px;
}